 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
    --colorPrimario: #48CADB;
    --colorSecundario: #599FA8;
    --colorTerciario: #567275;
    --colorCuaternario: #124147;
    --white: #FFF;
    --black: #000;

}

/* GLOBAL STYLES */



* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3 {
    margin: 0;
    color: var(--colorPrimario);
}

p{
    color: var(--white);
}

body {
    background-color: var(--colorTerciario);
}

.imgMain {
    max-width: 100%;
}

/* NAVEGACION Y HEADER */
#header {
    background-color: var(--colorCuaternario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navBar {
    display: flex;
    align-items: center;  
}

.linkNav {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--white);
    font-size: 1.1rem;
    padding: 10px;
    transition: all 0.2s ease;
}
.linkNav:hover {
    background-color: var(--colorSecundario);
    color: var(--colorCuaternario);
    border-radius: 5px;
    padding: 10px;
    transform: scale(1.1);
}

.iconKart {
    margin-left: 10px;

    transition: all .5s linear;
}
.iconKart:hover {
    transform: rotateX(180deg);  
}
.navResponsive {
    visibility: hidden;
}

@media screen and (max-width: 600px) {
    #header {
        flex-direction: row;
    }

    .navResponsive {
        visibility: visible;
    }

    .contNav {
        position: fixed;
        clip-path: circle(0% at top left);
        top: 0;
        z-index: 2;
    }

    .navBar {
        display: flex;
        flex-direction: column;
        background-color: var(--colorTerciario);
        
    }

    .contNav {
        clip-path: circle(0% at top left);
        background-color: var(--colorTerciario);
        width: 100%;
        height: 100%;
        padding: 10px;
        opacity: 0.9;
    }

    .contNav:target {
        clip-path: circle(150% at top left);

    }
    .linkNav:hover {
        background-color: var(--colorSecundario);
        color: var(--white);
    }
}

/* ************* INDEX ***************** */

/* Banner */

.contBig {
    max-width: 100%;
    height: 670px;
    background-image: url("/img/bannerBig.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    box-shadow: inset 0px 0px 600px 200px rgba(0,0,0,0.15);
}

.separador {
    width: 100%;
    height: 40px;
    background-color: var(--colorSecundario);
}

#banner {
    
    background-color: var(--colorCuaternario);
    padding: 1%;
    width: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.logoBanner {
    max-width: 100%;
}

.contTxt {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    height: min-content;
    width: 70%;
    margin: auto;

    background-color: var(--colorTerciario);
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    #banner {
        margin: 0;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;

        align-items: center;
    }

    .contTxt {
        margin: auto;
        width: 100%;
        background-color: var(--white);
        color: var(--black);
        text-align: center;

        border-radius: 0;
    }

    .pBanner {
        color: var(--black);
    }

    .contBig {
        width: 100%;
    }

}

/* Productos */ 

#productos {
    text-align: center;
    margin-top: 5%;
}

.contProductos {
    display: flex;
    justify-content: space-around;

    margin-top: 3%;
}

.producto {
    background-color: var(--colorCuaternario);
    padding: 30px;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contImgProducto1, .contImgProducto2, .contImgProducto3 {
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: cover;
    border-radius: 10px;
    border: solid 2px var(--colorPrimario);

    transition: all 0.2s ease;
    filter: saturate(20%);
}

.contImgProducto1 {
    background-image: url("../img/Categorias/Celulares/celular1/productoGrande.webp");
}

.contImgProducto2 {
    background-image: url("../img/Categorias/Camisas/camisa2/productoGrande.webp");
}

.contImgProducto3 {
    background-image: url("../img/Categorias/Camaras/camara2/productoGrande.webp");
}
.contImgProducto1:hover, .contImgProducto2:hover, .contImgProducto3:hover {
    transform: scale(1.1);

    background-position-y: center;
    background-size: 1.2;
    filter: brightness(80%);
    filter: saturate(100%);
}

.tMains {
    color: var(--colorPrimario);
    text-align: center;
}

.btnMainPage {
    background-color: var(--colorSecundario);
    border: solid 2px var(--colorTerciario);
    width: 80%;
    padding: 10px;
    color: var(--white);
    border-radius: 10px;

}

.btnMainPage:hover {
    animation: colorChange 2s infinite ease-in-out;
    color: var(--black);

    border: solid 2px;
}

@keyframes colorChange {
    0% {
        background-color: var(--colorSecundario);
        border: solid 2px var(--colorTerciario);
    }
    10% {
        background-color: #9400D3;
        border: solid 2px #9400D3;
    }
    33% {
        background-color: #0000FF;
        border: solid 2px #0000FF;
    }
    66% {
        background-color: #00FF00;
        border: solid 2px #00FF00;
    }
    100% {
        background-color: #FF0000;
        border: solid 2px #FF0000;

    }
}

@media screen and (max-width: 600px) {
    .contProductos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .producto {
        width: 90%;
    }
}

/* Nosotros */

#nosotros {
    margin-top: 5%;
    background-color: var(--colorSecundario);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    padding: 20px;
}

.contAbout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;

    background-color: var(--colorCuaternario);
    width: 70%;
    border-radius: 10px;
    padding: 20px;
}

.itemAbout {
    margin-top: 2%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contImgWe {
    margin: auto;
}

@media screen and (max-width: 600px) {
    #nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .contAbout {
        width: 100%;
        margin: auto;
        border-radius: 0;
    }

    .imgWe {
        margin: auto;
        max-width: 100%;
    }
}

/* Footer */

#footer {
    background-color: var(--colorCuaternario);
}

.contFooter {
    display: flex;
    justify-content: space-around;
}
.tFooter {
    color: var(--white);
    font-size: 1.7rem;
}

.subFooter {
    padding-top: 4rem;
}

.contTitulo {
    margin-top: 40px;
    color: var(--white);
    border-bottom: 3px solid var(--colorSecundario);
}
.contInfo {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.txtFooter {
    color: var(--white);
    font-size: 1.3rem;
}

.contContacto {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 1rem;
}

.circulo {
    background-color: var(--colorPrimario);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.linkFooter {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--colorPrimario);
}

@media screen and (max-width: 600px) {
    .contFooter {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 10px;
    }
    .contInfo {
        padding: 20px;
    }
    .linkFooter {
        padding: 10px;
    }
}


/* ************** CATEGORIAS *************** */

/* Categorias */

#categorias {
    margin-top: 100px;

    text-align: center;
}

.contCategorias {
    display: grid;
    grid-template-rows: 100% 100%;
    gap: 50px;
    margin: 40px;
}

.fila {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.contImgProductoCamaras, .contImgProductoCamisas, .contImgProductoCelulares, .contImgProductoPortatiles, .contImgProductoZapatos {
    width: 400px;
    height: 350px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    border-radius: 10px;
    border: solid 2px var(--colorPrimario);

    transition: all 0.2s ease;
    filter: saturate(20%);
}
.contImgProductoCamaras {
    background-image: url("/img/Categorias/Camaras/camara3/productoGrande.webp");
}
.contImgProductoCamisas {
    background-image: url("/img/Categorias/Camisas/camisa4/productoGrande.webp");
}
.contImgProductoCelulares {
    background-image: url("/img/Categorias/Celulares/celular4/productoGrande.webp");
}
.contImgProductoPortatiles{
    background-image: url("/img/Categorias/Portatiles/portatil1/productoGrande.webp");
}
.contImgProductoZapatos {
    background-image: url("/img/Categorias/Zapatos/zapato3/productoGrande.webp");
}

.contImgProductoCamaras:hover, .contImgProductoCamisas:hover, .contImgProductoCelulares:hover, .contImgProductoPortatiles:hover, .contImgProductoZapatos:hover {
    transform: scale(1.1);

    background-position-y: top;
    background-size: 1.1;
    filter: brightness(80%);
    filter: saturate(100%);
}

@media screen and (max-width: 600px) {
    #categorias {
        margin-top: 100px;
        justify-content: center;
    }

    .contCategorias {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .fila {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .contImgProductoCamaras, .contImgProductoCamisas, .contImgProductoCelulares, .contImgProductoPortatiles, .contImgProductoZapatos{
        width: 300px;
        height: 200px;
    }
}

/* ************** CATALOGOS ******************** */

#contCatalogos {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
    justify-content: center;
}

.contProductoCatalogo {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.contImgCamara1 {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-evenly;
}

.contImgPequeCamara1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imgPequeCamara1, .img2PequeCamara1 {
    margin: auto;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgPequeCamara1 {
    background-image: url("/img/Categorias/Camaras/camara1/productoPeque.webp");
}
.img2PequeCamara1 {
    background-image: url("/img/Categorias/Camaras/camara1/img2Peque.webp");
}

.contImgGrandeCamara1 {
    width: 100%;
    height: 400px;
}

.imgPequeCamara1:hover ~ .contImgGrandeCamara1{
    background-image: url("/img/Categorias/Camaras/camara1/productoPeque.webp");
}

.img2PequeCamara1:hover ~ .contImgGrandeCamara1{
    background-image: url("/img/Categorias/Camaras/camara1/img2Peque.webp");
} 